body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(to bottom, #1c1c1c, #434343);
    color: #f1f1f1;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.gameboard {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.gameboard p {
    text-decoration: underline;
    font-size: large;
}

.real-board,
.computer-board {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.real,
.computer {
    display: grid;
    grid-template-columns: repeat(10, 30px);
    grid-template-rows: repeat(10, 30px);
    border: solid 1px #414141;
    border-radius: 5px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}

.cell {
    background-color: #2b2b2b;
    border: #434343 1px solid;
}

.cell.ship {
    background-color: #607d8b;
}

.cell.hit {
    background-color: #cfd8dc;
}

.cell.miss {
    background-color: #ff6b6b;
}

.active-player,
.outcome-para {
    margin-top: 25px;
    padding: 4px 10px;
    background-color: #2b2b2b;
    font-size: 1.2rem;
    border-radius: 5px;
    border: solid 2px #f1f1f1;
}

.outcome-para {
    margin-bottom: -10px;
}

dialog::backdrop {
    backdrop-filter: blur(5px);
}

.result-modal,
.name-dialog {
    color: white;
    background-color: #00000000;
    border: #ffffff00;
}

.result-modal>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.result-modal p,
.name-dialog p {
    padding: 0;
    margin: 0;
}

.name-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

#game-name {
    font-weight: bold;
    font-size: 2rem;
    text-decoration: underline;
    margin-bottom: 15px;
}

#name {
    font-size: 1rem;
    padding: 6px 12px;
    border-radius: 20px;
    background-color: #00000000;
    color: white;
    border: solid 2px white;
    outline: 0;
}

.name-form label {
    font-size: 1.2rem;
}

.name-form button {
    font-weight: bold;
    cursor: pointer;
    padding: 6px 16px;
    border: solid 2px white;
    border-radius: 20px;
    font-size: 1.1rem;
    background-color: white;
    color: black;
    transition: 0.2s;
}

.name-form button:hover {
    color: white;
    background-color: #00000000;
}